.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -32px; /* Increased gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 32px; /* Increased gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .my-masonry-grid {
    margin-left: -10px; /* Reduced gutter size offset for mobile */
  }

  .my-masonry-grid_column {
    padding-left: 10px; /* Reduced gutter size for mobile */
  }

  .my-masonry-grid_column > div {
    margin-bottom: 10px; /* Reduced vertical spacing for mobile */
  }
}
